*{
    margin: 0;
    padding: 0;
}
:root{
     /* Colors Primary */ 
    --Dark-cyan:hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue:hsl(229, 23%, 23%);
    --Dark-grayish-blue:hsl(227, 10%, 46%);
    /* Neutral */
    --Dark-gray:hsl(0, 0%, 59%);
}
.container{
    display: flex;
    flex-direction: column;
    height: 40rem;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;    
    overflow: hidden;
    
    z-index: 0;
    background-color: var(--Dark-cyan);
}
.object-top{
    position: fixed;
    object-fit: cover;
    box-sizing: border-box;
    left: -10rem;
    top: -10rem;
    width: 20rem;
}
.object-bottom{
   position:fixed ;
    object-fit: cover;
    box-sizing: border-box;
    right: -10rem;
    bottom: -10rem;
    width: 20rem;
    z-index: 0;
}

.content{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}


.card{
    overflow: hidden;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;  
    background-color: white; 
    gap: 2.5rem; 
    width: 80%;
}
.card-header{
    height: 11rem;
}
.card-header::after{    
    display: block;
    position: relative;
    content: "";    
    border-radius: 50%;
    border: 4px solid white;
    background-image: url(profile-card-component-main/images/image-victor.jpg);
    background-size: cover;
    left: calc(50% - 3rem + 2px);
    top: -3rem;
    height: 6rem;
    width: 6rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}
.hr-card{
    width: 100%;
    border-bottom: 01px solid rgba(0, 0, 0, .09);
}
.card-footer{
    display: flex;    
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}
.h1-body{
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
}
.h1-body span{
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.p-body{
    color: var(--Dark-gray);
}
.laber-footer{
    font-weight: 700;
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
}
.data-footer{
 display: flex;   
 flex-direction: column;
 gap: .5rem;
}
.p-footer{
    color: var(--Dark-gray);
    font-weight: 400;
}

@media (min-width:800px){
.img-card-header{
    width: 100%;
}
.card{
    width: 25%;
}
/* .object-top{
    position: fixed;
    object-fit: cover;
    box-sizing: border-box;
    left: -10rem;
    top: -10rem;
    width: 20rem;
}
.object-bottom{
   position:fixed ;
    object-fit: cover;
    box-sizing: border-box;
    right: -10rem;
    bottom: -10rem;
    width: 20rem;
    z-index: 0;
} */
.object-top{
    position: fixed;
    object-fit: cover;
    box-sizing: border-box;
    left: -10rem;
    top: -25rem;
    width: 50rem;
}
.object-bottom{  
    right: -0rem;
    bottom: -20rem;
    width: 40rem;
}
    
}